html{
    scroll-behavior: smooth;
}

#contenedor-intro{
    background: rgb(179,255,121);
    background: linear-gradient(90deg, rgba(179,255,121,1) 0%, rgba(255,93,133,1) 50%, rgba(0,186,215,1) 100%);
}